.loginFormContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
}

.loginHeader {
      font-size: 4rem;
      margin: 6rem;
}
.loginFormFields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
     

}

.loginFormFields label {
      margin-right: 1rem;
      font-size: 1.5rem;
      flex: 1;
      flex-basis: 1.5rem;
}
.loginFormFields input {
      font-size: 1.5rem;
      flex: 3;
      background-color: #0000000e;
      border: #c6cacc 1px solid;
      padding: 1rem;
      border-radius: 5px;
}


.forgotPw {
      font-size: 1.5rem;
      margin-top:1.5rem;
      color: #2196f3;
      transition: all 0.5s ease;
}
.forgotPw:hover {
      transform: scale(1.1);
      color: #2196f3;
}
.invalid input {
      border: 1px solid #b40e0e;
      background-color: #fddddd;
}

.invalid input:focus {
      border-color: #ff8800;
      background-color: #fbe8d2;
}

.loginButton {
      display: inline-block;
      width: 10rem;
      margin:  1.5rem auto;
      
}

.preRegFormContainer {
      color: #fff;
      transition: all 0.5s ease;
      border: rgba(159, 242, 253, 0.417) 1px solid;
      background: #2196f3;
      margin-top: 11rem;
      
}
