.loginFormContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
}

.loginHeader {
      font-size: 5rem;
      margin-bottom: 7.5rem;
}
.loginFormFields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
}

.loginFormFields label {
      font-size: 2rem;
      flex: 1;
      flex-basis: 1.5rem;
}
.loginFormFields input {
      font-size: 2rem;
      flex: 3;
      background-color: #0000000e;
      border: #c6cacc 1px solid;
      padding: 1rem;
      border-radius: 5px;
}
.loginFormFields input:focus {
      border: red 1px solid;
}

.forgotPw {
      font-size: 2rem;
      display: inline-block;

      color: #2196f3;
      margin: 2rem 0 2rem 0;

      transition: all 0.5s ease;
}
.forgotPw:hover {
      transform: scale(1.1);
      font-size: 2rem;
      color: #2196f3;
}
.invalid input {
      border: 1px solid #b40e0e;
      background-color: #fddddd;
}

.invalid input:focus {
      border-color: #ff8800;
      background-color: #fbe8d2;
}

.loginButton {
      width: 15rem;
      margin: auto;
}

.preRegFormContainer {
      font-size: 1.5rem;
      color: #fff;
      margin: 2.5rem 0 2.5rem 0;
      transition: all 0.5s ease;
      border: rgba(159, 242, 253, 0.417) 1px solid;
      padding: 1rem 0.1rem;
      background: #2196f3;
      margin-top: 21rem;
}
