.mainNavBarContainer {
      margin: auto;
      padding: 3rem;
      background-color: #c5e3f4;
}

.schoolHeader {
      font-size: 5rem;
      padding: 0;
}

.schoolHeaderDetails {
      font-size: 3rem;
      padding: 0;
}
