.container {
      padding: 3rem 6rem;
      height: 100%;
      overflow: hidden;
}

.header {
      font-size: 4.5rem;
}

.createButtonContainer {
      text-align: right;
      margin: 1rem 0;
}
.createButton {
      padding: 1.5rem 2rem;
}
.columnName {
      background: #2196f3;
      font-size: 2rem;
      padding: 1.5rem 4rem;
      text-align: start;
      color: #fff;
      font-weight: 400;
}

.listContainer {
      box-sizing: border-box;
      height: 40rem;
      overflow-y: scroll;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
}

.name {
      font-size: 2rem;
      text-align: start;
      padding: 1rem 5rem;
      font-weight: 500;
      border-bottom: 1px solid #000;
}
