.adminPageContainer {
      max-width: 130rem;
      margin: auto;
      display: grid;
      grid-template-columns: 25rem auto;
      height: calc(100vh - 15.8rem);
}

.navbarContainer {
      height: 100%;
}
.displayFieldContainer {
}
